@import '../../../styles/variables.scss';

.hero {
    padding: 22rem 0;
}

h2 {
    font-family   : Sequel;
    font-size     : 4.375rem;
    font-weight   : 800;
    text-transform: uppercase;
    line-height   : 0.9;

    .line {
        font-family   : Sequel;
        font-size     : 4.375rem;
        font-weight   : 800;
        text-transform: uppercase;
        line-height   : 0.9;
        opacity       : 0;
        animation     : animationLine 2s forwards;

        @include tablet {
            font-size: 3rem;
        }

        @include mobile {
            font-size: 2rem;
        }

        &:nth-of-type(1) {
            animation-delay: 0s;
        }

        &:nth-of-type(2) {
            animation-delay: 0.5s;
        }

        &:nth-of-type(3) {
            animation-delay: 1s;
        }
    }
}

@keyframes animationLine {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}