* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Sequel;
    src        : url(../assets/fonts/Sequel100Black-95.ttf);
}

@font-face {
    font-family: TungstenMedium;
    src        : url(../assets/fonts/Tungsten-Medium.ttf);
}

:root {
    --main-font  : Sequel;
    --second-font: TungstenMedium;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition             : background 0.5s ease;
}