.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    .header__logo {
        display: flex;
        align-items: center;
        gap: 0 25px;

        .header__logo--img {
            width: 40px;
            cursor: pointer;

            &:hover + .header__logo--title {
                display: block;
                transform: translateX(0);
            }
        }
        .header__logo--title {
            margin: 0;
            display: none;
            transform: translateX(30px);
        }
    }

    .header__route {

        .header__route--link {
            text-decoration: none;
            color: black;
        }
    }
}