@import '../../../styles/variables.scss';

.expertise {
    padding         : 11.875rem 0 11.875rem;
    background-color: white;

    .expertise__title {
        font-size          : 6.8rem;
        line-height        : 0.9;
        -webkit-text-stroke: 1px black;
        color              : transparent;
        margin-bottom      : 1rem;

        @include tablet {
            font-size: 4rem;
        }

        @include mobile {
            font-size: 2rem;
        }
    }

    .expertise__content {
        display: flex;
        gap    : 3rem 9.25rem;

        @include tablet {
            flex-direction: column;
        }

        @include mobile {
            flex-direction: column;
        }

        .expertise__skill {
            flex: 1;

            .skill--title {
                font-size    : 2.5rem;
                font-weight  : 800;
                line-height  : 1;
                font-family  : var(--main-font);
                margin-bottom: 1.563rem;
                color        : black;

                @include mobile {
                    font-size: 1.6rem;
                }
            }

            .skill--desc {
                font-size    : 21px;
                font-family  : var(--third-font);
                line-height  : 1.8;
                margin-bottom: 3.875rem;
                color        : black;

                @include mobile {
                    font-size: 1rem;
                }
            }

            .skill--detail {
                font-size     : 1rem;
                font-weight   : 400;
                font-family   : var(--main-font);
                line-height   : 2.8;
                color         : black;
                text-transform: uppercase;

                @include mobile {
                    font-size: 0.8rem;
                }
            }
        }
    }
}