.header {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 30px;

    .header__logo {
        display    : flex;
        align-items: center;
        gap        : 0 25px;

        .header__logo--img {
            width : 40px;
            cursor: pointer;

            &:hover+.header__logo--title {
                opacity  : 1;
                transform: translateX(0);
            }
        }

        .header__logo--title {
            margin     : 0;
            opacity    : 0;
            transform  : translateX(30px);
            transition : all 0.3s ease;
            font-family: var(--third-font);
        }
    }

    .header__route {
        display       : flex;
        flex-direction: column;
        gap           : 1rem 0;



        .header__route--link {
            text-decoration: none;
            color          : black;
            font-family    : TungstenMedium;
            font-size      : 0.875rem;
            line-height    : 1;
            letter-spacing : 0.5rem;
            text-transform : uppercase;
        }
    }
}

.active {
    font-weight: bold;
}