.main-content {
    background-color: black;

    .main-content__background {
        display               : flex;
        justify-content       : center;
        align-items           : center;
        background-repeat     : no-repeat;
        background-position   : center;
        height                : 100vh;

        .main-content__image {
            width     : 10%;
            display   : block;
            object-fit: cover;
        }
    }

    .post {
        padding: 0 15rem;

        .post__title {
            color     : #F3D066;
            font-size : calc(2.5rem + (1.25 * (100vw - 85.375rem)) / 34.625);
            margin    : 5rem 0 3rem;
            text-align: center;
        }

        .post__param {
            font-family  : var(--param-font);
            color        : white;
            font-size    : calc(1rem + (0.25 * (100vw - 85.375rem)) / 34.625);
            line-height  : 1.8;
            margin-bottom: 3rem;
        }

        .post__video {
            padding-bottom: 5rem;
            position: relative;
            padding-bottom: 50%;
            height: 0;
            overflow: hidden;
            margin: 2rem 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .post__photo {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 3rem 0;
            border: 0.5rem solid white;
            border-radius: 1rem;
        }
    }

}