.about__hero {
    padding            : 7rem 0;
    background-image   : url('../../../assets/images/kim-tuyen.png');
    background-repeat  : no-repeat;
    background-position: top right;
    background-size    : 40rem;

    .about__title {
        flex       : 1;
        font-size  : 4rem;
        font-weight: 800;
        line-height: 63px;
        padding    : 19rem 0 23.875rem;
    }
}