@import '../../styles/variables.scss';

.footer {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-end;
    margin         : 12.5rem 0;

    @include mobile {
        gap           : 5rem 0;
        flex-direction: column;
    }

    .footer__left {

        .get-in-touch {
            font-family   : var(--second-font);
            font-weight   : normal;
            font-size     : 0.875rem;
            line-height   : 1;
            letter-spacing: 0.5em;
            color         : white;
            margin-bottom : 1.2rem;
        }

        .social__list {
            list-style-type: none;
            display        : flex;
            gap            : 0 2rem;
            margin-bottom  : 6rem;
            padding        : 0;

            .social__item {

                .social--link {
                    text-decoration: none;
                    font-family    : var(--main-font);
                    font-size      : 2.5rem;
                    font-weight    : 800;
                    line-height    : 1;

                    @include mobile {
                        font-size: 2rem;
                    }
                }
            }
        }

        .move-forward {
            font-size  : 2.5rem;
            font-weight: 800;
            line-height: 1;
            color      : white;
            font-family: var(--main-font);

            @include mobile {
                font-size: 1.8rem;
            }
        }
    }

    .footer__right {

        .btn-top {
            background    : none;
            outline       : none;
            border        : none;
            font-family   : var(--second-font);
            font-weight   : normal;
            font-size     : 0.875rem;
            line-height   : 1;
            letter-spacing: 0.5em;
            cursor        : pointer;
            color         : white;
        }
    }
}



// Adding style span '.' & social-link
.facebook {
    color: white;

    &:hover {
        color: blue;
    }
}

.instagram {
    color: white;

    &:hover {
        color: pink;
    }
}

.gmail {
    color: white;

    &:hover {
        color: red;
    }
}

.tiktok {
    color: white;

    &:hover {
        color: purple;
    }
}